<!doctype html>
<html>
<head>
    <title>滴</title>

    <meta charset="utf-8">
    <meta name="google" value="notranslate">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <table class="stats">
            <thead>
                <tr>
                    <th colspan="2">File</th>
                    <th>Hits</th>
                    <th>Last Hit</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i in stats) { %>
                    <tr>
                        <td><img src="<%= stats[i].fileName %>" width="50px"></td>
                        <td><a href="<%= stats[i].fileName %>" target="_blank"><%= stats[i].fileName %></a></td>
                        <td><%= stats[i].hits %></td>
                        <td><%=: stats[i].lastHit | short %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
